@using PagedList;
@using PagedList.Mvc;

<div class="content-box-content">
    <div class="tab-content default-tab" id="tab1">
        <!-- This is the target div. id must match the href of this div's tab -->
        <div class="notification attention png_bg">
            <a href="#" class="close">
                <img src="~/AdminContent/resources/images/icons/cross_grey_small.png" title="Close this notification"
                     alt="close" />
            </a>
            <div>
                Buradan yeni eklenmiş olan ve henüz anasayfada gösterilmeye ilanları onaylayabilir ya da iptal edebilirsiniz.
            </div>
        </div>

        <div id="ilanonay" style="display:none" class="notification attention png_bg">
            <a href="#" class="close">
                <img src="~/AdminContent/resources/images/icons/cross_grey_small.png" title="Close this notification"
                     alt="close" />
            </a>
            <div>
                İlana Onay Verilmiştir. Anasayfada Gözükecektir.
            </div>
        </div>

        <div id="ilansil" style="display:none" class="notification attention png_bg">
            <a href="#" class="close">
                <img src="~/AdminContent/resources/images/icons/cross_grey_small.png" title="Close this notification"
                     alt="close" />
            </a>
            <div>
                İlan Veritabanından Kaldırılmıştır. Geri Dönüşü yoktur bu aşamanın.
            </div>
        </div>

        <table>
            <thead class="col-md-12">
                <tr>
                    <th class="col-md-1">
                        <input class="check-all" type="checkbox" />
                    </th>
                    <th class="col-md-1">
                        İlan No
                    </th>
                    <th class="col-md-12">
                        Başlık
                    </th>
                    <th class="col-md-2">
                        Emlak Tipi
                    </th>
                    <th class="col-md-2">
                        Şatış Tipi
                    </th>
                    <th class="col-md-1">
                        Oda
                    </th>
                    <th class="col-md-1">
                        Şehir
                    </th>
                    <th class="col-md-1">
                        Semt
                    </th>
                    <th class="col-md-1">
                        Fiyat
                    </th>
                    <th class="col-md-2">
                        İşlemler
                    </th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td colspan="6"> 

                        <div class="col-md-12">
                            <div class="pagination" style="float:none;padding-left:50px">
                                @Html.PagedListPager(ViewData["ilanlar"] as IPagedList<EmlakProjesi.Models.Advert>, page => Url.Action("Index", new
                           {
                               page,sınıf = "ilan"
                               //,sira = Request.QueryString["sira"]
                           }),
                           new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded }
                           )
                            </div>
                        </div>


                        <!-- End .pagination -->
                        <div class="clear">
                        </div>
                    </td>
                </tr>
            </tfoot>
            <tbody>
                @foreach (var item in ViewData["ilanlar"] as IPagedList<EmlakProjesi.Models.Advert>)
                {
                    <tr>
                        <td>
                            <input type="checkbox" />
                        </td>
                        <td>
                            @item.ID
                        </td>
                        <td>
                            @item.Baslik
                        </td>
                        <td>
                            @item.EmlakTipi.Ad
                        </td>
                        <td>
                            @item.SatisTipi.Ad
                        </td>
                        <td>
                            @item.kacoda.Ad
                        </td>
                        <td>
                            @item.il.Name
                        </td>
                        <td>
                            @item.ilce.Name
                        </td>
                        <td>
                            @item.Fiyat <span class="fa fa-turkish-lira"></span>
                        </td>
                        <td>
                            <!-- Icons   href="javascript:void(0);" -->
                            @*<button href="#" title="Düzenle">
                                <img src="~/AdminContent/resources/images/icons/pencil.png" alt="Düzenle" />
                            </button>*@ 
                            <button onclick="location.href='@Url.Action("Details", "Advert", new {id=item.ID})'" title="Düzenle">
                                <img src="~/AdminContent/resources/images/icons/pencil.png" alt="Düzenle" />
                            </button> 
                            <button id="AdvertApproval" onclick="location.href='@Url.Action("AdvertApproval", "Admin", new {id=item.ID})'" title="Onayla">
                                <img src="~/AdminContent/resources/images/icons/tick_circle.png" alt="Approve" />
                            </button>
                            <button id="AdvertDelete" onclick="location.href='@Url.Action("AdvertDelete", "Admin", new {id=item.ID})'" title="Sil">
                                <img src="~/AdminContent/resources/images/icons/cross.png" alt="Delete" />
                            </button> 
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div> 
    <div class="tab-content default-tab" id="tab2" style="display:none;">
        <!-- This is the target div. id must match the href of this div's tab -->
        <div class="notification attention png_bg">
            <a href="#" class="close">
                <img src="~/AdminContent/resources/images/icons/cross_grey_small.png" title="Close this notification"
                     alt="close" />
            </a>
            <div>
                Buradan onay verilmiş olan, henüz satılmamış ve anasayfada gözüken ilanlar gösterilmektedir.
            </div>
        </div>
        <div id="ilansatis" style="display:none" class="notification attention png_bg">
            <a href="#" class="close">
                <img src="~/AdminContent/resources/images/icons/cross_grey_small.png" title="Close this notification"
                     alt="close" />
            </a>
            <div>
                İlan satılmıştır.Artık Anasayfada Gözükecektir.
            </div>
        </div>
        <table>
            <thead class="col-md-12">
                <tr>
                    <th class="col-md-1">
                        <input class="check-all" type="checkbox" />
                    </th>
                    <th class="col-md-1">
                        İlan No
                    </th>
                    <th class="col-md-12">
                        Başlık
                    </th>
                    <th class="col-md-2">
                        Emlak Tipi
                    </th>
                    <th class="col-md-2">
                        Şatış Tipi
                    </th>
                    <th class="col-md-1">
                        Oda
                    </th>
                    <th class="col-md-1">
                        Şehir
                    </th>
                    <th class="col-md-1">
                        Semt
                    </th>
                    <th class="col-md-1">
                        Fiyat
                    </th>
                    <th class="col-md-2">
                        İşlemler
                    </th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td colspan="6">

                        <div class="col-md-12">
                            <div class="pagination" style="float:none;padding-left:50px">
                                @Html.PagedListPager(ViewData["ilanlaronay"] as IPagedList<EmlakProjesi.Models.Advert>, page => Url.Action("Index", new
                           {
                               page,
                               sınıf = "ilanonay"
                               //,sira = Request.QueryString["sira"]
                           }),
                           new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded }
                           )
                            </div>
                        </div>


                        <!-- End .pagination -->
                        <div class="clear">
                        </div>
                    </td>
                </tr>
            </tfoot>
            <tbody>
                @foreach (var item in ViewData["ilanlaronay"] as IPagedList<EmlakProjesi.Models.Advert>)
                {
                    <tr>
                        <td>
                            <input type="checkbox" />
                        </td>
                        <td>
                            @item.ID
                        </td>
                        <td>
                            @item.Baslik
                        </td>
                        <td>
                            @item.EmlakTipi.Ad
                        </td>
                        <td>
                            @item.SatisTipi.Ad
                        </td>
                        <td>
                            @item.kacoda.Ad
                        </td>
                        <td>
                            @item.il.Name
                        </td>
                        <td>
                            @item.ilce.Name
                        </td>
                        <td>
                            @item.Fiyat <span class="fa fa-turkish-lira"></span>
                        </td>
                        <td>
                            <!-- Icons   href="javascript:void(0);" -->
                            @*<button href="#" title="Düzenle">
                                    <img src="~/AdminContent/resources/images/icons/pencil.png" alt="Düzenle" />
                                </button>*@
                            <button id="AdvertApproval" onclick="location.href='@Url.Action("AdvertSell", "Admin", new {id=item.ID})'" title="Sat">
                                <img src="~/AdminContent/resources/images/icons/tick_circle.png" alt="Sat" />
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div> 
    <div class="tab-content default-tab" id="tab3" style="display:none;">
        <!-- This is the target div. id must match the href of this div's tab -->
        <div class="notification attention png_bg">
            <a href="#" class="close">
                <img src="~/AdminContent/resources/images/icons/cross_grey_small.png" title="Close this notification"
                     alt="close" />
            </a>
            <div>
                Buradan satışı yapılmış pasif ilanlar görüntülenmektedir.
            </div>
        </div>
        <table>
            <thead class="col-md-12">
                <tr>
                    <th class="col-md-1">
                        <input class="check-all" type="checkbox" />
                    </th>
                    <th class="col-md-1">
                        İlan No
                    </th>
                    <th class="col-md-12">
                        Başlık
                    </th>
                    <th class="col-md-2">
                        Emlak Tipi
                    </th>
                    <th class="col-md-2">
                        Şatış Tipi
                    </th>
                    <th class="col-md-1">
                        Oda
                    </th>
                    <th class="col-md-1">
                        Şehir
                    </th>
                    <th class="col-md-1">
                        Semt
                    </th>
                    <th class="col-md-1">
                        Fiyat
                    </th>
                    <th class="col-md-2">
                        Satış Tarihi
                    </th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <td colspan="6">

                        <div class="col-md-12">
                            <div class="pagination" style="float:none;padding-left:50px">
                                @Html.PagedListPager(ViewData["ilanlarsatis"] as IPagedList<EmlakProjesi.Models.Advert>, page => Url.Action("Index", new
                           {
                               page,
                               sınıf = "ilansatis"
                               //,sira = Request.QueryString["sira"]
                           }),
                           new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded }
                           )
                            </div>
                        </div>


                        <!-- End .pagination -->
                        <div class="clear">
                        </div>
                    </td>
                </tr>
            </tfoot>
            <tbody>
                @foreach (var item in ViewData["ilanlarsatis"] as IPagedList<EmlakProjesi.Models.Advert>)
                {
                    <tr>
                        <td>
                            <input type="checkbox" />
                        </td>
                        <td>
                            @item.ID
                        </td>
                        <td>
                            @item.Baslik
                        </td>
                        <td>
                            @item.EmlakTipi.Ad
                        </td>
                        <td>
                            @item.SatisTipi.Ad
                        </td>
                        <td>
                            @item.kacoda.Ad
                        </td>
                        <td>
                            @item.il.Name
                        </td>
                        <td>
                            @item.ilce.Name
                        </td>
                        <td>
                            @item.Fiyat <span class="fa fa-turkish-lira"></span>
                        </td>
                        <td>
                            @item.EndDate
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div> 
</div>